<h1>Users List</h1>

<ul>
    <% @users.each do |user| %>
        <li>
            <strong> Name: <%= user.name %> </strong> <br>
            Email: <%= user.email %>
            <button> <%= link_to "More info", user_path(user) %> </button>
        </li>
    <% end %>
       <button> <%= link_to "Create a New User", new_user_path %> </button>
</ul>